.hero-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.hero-container {
    height: 100%;
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.hero-left h4 {
    margin-bottom: 1rem;
    color: var(--orange);
    font-weight: 500;
}

.hero-left p {
    margin: 1rem 0 3rem;
    font-size: 1.1rem;
}

.hero-right {
    display: grid;
    place-items: center;
    position: relative;
}

.hero-right img {
    border-radius: 1rem;
}


/*-----------------------------------*\
  #PRODUCT SECTION STYLES
\*-----------------------------------*/

.products {
    margin-top: 3rem;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; 
}

.products-product a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------*\
  #VALUES SECTION STYLES
\*-----------------------------------*/

.values-container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values-image {
    filter: saturate(0.3);
    transition: var(--transition);
}

.values-image:hover {
    filter: saturate(1);
}

.values-right {
    margin: 1.5rem 0 4rem; 
}

.values-right p {
    margin-bottom: 3rem;
}

.values-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
}

.card.values-value {
    padding-top: 3rem;
    text-align: left;
    position: relative;
}

.card.values-value span {
    position: absolute;
    top: -1.5rem;
}
    


/*-----------------------------------*\
  #FAQS SECTION STYLES
\*-----------------------------------*/

.faqs-cards {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq {
    background: var(--primary-light);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-icon {
    background: transparent;
    color: var(--orange);
    font-size: 1.5rem;
}

.faq p {
    margin-top: 1.5rem;
}


/*-----------------------------------*\
  #TESTIMONIALS SECTION STYLES
\*-----------------------------------*/

.testimonials {
    width: 50rem;
    margin-inline: auto;
}

.test-head {
    justify-content: center;
}

.card.test {
    position: relative;
    text-align: left;
    margin-top: 4rem;
}

.test-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: calc( 50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
}