@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
    --primary-color: #D28B55;
    --primary-light: rgba(210, 139, 85, 0.2);
    --white-color: #F7FFF7;
    --light-color: rgba(247, 255, 247, 0.55);
    --black-color: #343434;
    --gray-color: #636564;
    --yellow: #FFFD82;
    --blue: #04395E;
    --orange: orangered;

    --container-lg: 80%;
    --container-md: 90%;

    --transition: all 500ms ease;
}


/*-----------------------------------*\
  GENERAL STYLES
\*-----------------------------------*/

body {
    font-family: 'Montserrat';
    color: var(--black-color);
    line-height: 1.6;
    overflow-x: hidden;
    background: var(--white-color);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
  }

.container {
    width: var(--container-lg);
    max-width: 1920px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    color: var(--primary-color);

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--white-color);
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.btn {
    color: var(--white-color);
    width: fit-content;
    margin: 0 auto;
    padding: 0.7rem 2rem;
    background: var(--primary-color);
    border-radius: 0.8rem;
    border: 2px solid var(--primary-color);
    transition: var(--transition);
}

.btn-sm {
    color: var(--white-color);
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    border-radius: 0.8rem;
    border: 2px solid var(--primary-color);
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--primary-color);
}

.btn-sm:hover {
    background: transparent;
    color: var(--primary-color);
}

.btn-primary {
    color: var(--primary-color);
    width: fit-content;
    margin: 0 auto;
    padding: 0.7rem 2rem;
    background: var(--orange);
    border-radius: 0.8rem;
    border: 2px solid var(--orange);
    transition: var(--transition);
}

.btn-primary-sm {
    color: var(--white-color);
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background: var(--orange);
    border-radius: 0.5rem;
    border: 2px solid var(--orange);
    transition: var(--transition);
}

.btn-primary:hover {
    background: transparent;
    color: var(--primary-color);
}

.btn-primary-sm:hover {
    background: transparent;
    color: var(--primary-color);
}

section {
    margin-top: 8rem;
}

.section-head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section-head span {
    background: var(--primary-light);
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.card {
    background: var(--primary-light);
    border: 2px solid transparent;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
}

.card:hover {
    background: transparent;
    border-color: var(--primary-color);
    cursor: default;
}

.card span {
    width: 3rem;
    height: 3rem;
    background: var(--primary-color);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: var(--transition);
}

.card:hover span {
    background: var(--orange);
    color: var(--white-color);
}

.card small {
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}




/*-----------------------------------*\
  #RESPONSIVENESS   FOR MEDIUM SCREENS
\*-----------------------------------*/

@media screen and (max-width: 1000px) {
    .container {
        width: var(--container-md);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}


/*-----------------------------------*\
  #RESPONSIVENESS   FOR SMALL SCREENS
\*-----------------------------------*/



@media screen and (max-width: 600px) {
    .container {
        width: var(--container-md);
    }

    h1 {
        font-size: 2.2rem;
        line-height: 1.3;
    }

    
}